<div class="container">
<div class="row row-col-3 justify-content-center gap-2 p-2">
<div  class="card col"  style="width: 18rem;" *ngFor="let product of producte">
  <img src=" {{product.img}} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text"> {{product.description}} </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{product.price | currency:"EUR"  }} </li>
    
    
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-primary">Details</button>
    <button type="button" class="btn btn-success">Order</button>
  </div>
</div>
</div>
</div>
