<div class="dusan-description">

   

    <div class="dusan-text-container d-flex flex-column justify-content-center align-items-center">
        <div class="dusan-headline"> Gamberto Rosso</div>
        <div class="dusan-secont-text">Wien best Restaurant</div>
        <div class="button-container d-flex align-items-center">
            <button type="button" class="btn btn-secondary m-2 p-3" routerLink="/product-list"> Menu</button>
            <button type="button" class="btn btn-secondary m-2 p-3">Book A Table</button>
        </div>
    </div>
</div>
